<div style="margin: 0 auto;width: 40%">
    <div class="col-xs-12 text-center">
        <img class="img-responsive" src="images/dons.jpg" alt=""/>
    </div>
        <div class="text-center" style="margin-top:20px; margin-bottom: 20px">
            <h1>Promesse de don</h1>
            <p>Vos dons permettent de construire des écoles, des hopitaux, creuser des puits et financer les recherches.
                Une fois vos coordonnées enregistrées, vous recevrez par E-mail, dans les jours qui suivent, votre promesse de don. Il vous suffira de nous la retourner accompagnée de votre chèque. Vous recevrez ensuite un reçu fiscal ouvrant droit à une réduction d'impôt.
             </p>
        </div>
    <div class="row text-center">
        <form class="navbar-form navbar-left" role="" style="margin-left: 20px">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Montant">
            </div>
            <button type="submit" class="btn btn-primary">Promettre</button>
        </form>
    </div>

</div>